body {
  font-family: 'Raleway', sans-serif;
  background-color: #ffedc9;
  color: #5b5b45;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 25px;
}

h5 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

label {
    display: inline-block;
    clear: left;
    width: 250px;
    text-align: center;
    padding-top: 2%;
}

p {
  margin-top: 2%;
}

.container {
  max-width: 450px;
  min-width: 250px;
  max-height: 510px;
  padding: 2% auto 10% auto;
  background: #d6a877;
  border-radius: 2px;
  box-shadow: 1px 1px 10px  #494434;
}

input[type="text"] {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 13px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 5px;
  width: 50%;
  background-color: #c69869;
  color: #5b5b45;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 20px;
  text-align: center;
}

select {
      background: rgba(255,255,255,0.1);
      border: none;
      font-size: 16px;
      height: auto;
      padding: 10px;
      margin-left: 2%;
      width: 18%;
      background-color: #c69869;
      color: #5b5b45;
      box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
      margin-bottom: 10px;
      text-align: right;
    }

select.offset {
     width: 38%;
}

input[type="submit"] {
  padding: 4px 30px 4px 30px;
  color: #f2f4ff;
  background-color: #5a533e;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border: 1px solid #494434;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}

input[type="submit"]:hover {
  background-color: #4a4f37;
}

a.help {
    color: black;
    font-size: 18px;
    margin-top: 20px;
}
a.help:hover {
    color: #c69869;
}


@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}
