header {
    background-color: rgba(83,88,91,0.8); 
}

body {
    background-color: black;
}

.wall {
    margin-top: 20px;
}


table {
    color: #f9fbfc;
    background-color: rgba(83,88,91,0.8);
}

.user_vie_art {
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #777;
    border-collapse: collapse;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
}

th, td {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 7px;
}

th {
    color: #d4d5d6;
}

.user_view_output {
    text-align: center;
}



