body { 
  background-color: #427089;
  background-image: url('/static/img/museum_flat.jpg');
  /*background-image: url('/static/img/museum.jpg');*/
  background-repeat: no-repeat;
  /*background-position: cover;*/
  background-size: 100%;

}
/*
body{
  background-image: url('/static/img/museum_flat.jpg');
  background-color: #c67c4c;
  transition: background-color .8s ease-in,
              background-image  .8s ease-in;
}*/

.head-nav:link, .head-nav:visited {
  color: rgb(191,101,32);

}

div.alert {
  margin: 10px 10%;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  color: #ddf5ff;
}

.primary-title {
  color: #ddf5ff;
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 105px;
  font-weight: normal;
  line-height: 1.3;
}

p.hang-it {
 padding: 1%;
 color: #ddf5ff;
 font-weight: 300;
 font-size: 1em;
 font-family: 'Raleway', sans-serif;
 font-weight: 400;

}

button {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
  width: 240px;
  color: #fff;
  border: 1px solid red;
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: rgb(191,101,32); 
  border-color: rgba(255, 255, 255, 0.4) ;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}

button:hover, button:active {
  background-color: orange; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}


#new-project {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}



#new-project:hover {
  color: #fcf5e8; 
  text-decoration: none;
}




@media (max-width: 800px) {
  body {
    background-image: none; 
  }
  .primary-title{
    font-size: 64px;
  }
  p {
    padding-top: 285px;
    padding-bottom: 7%;
  }

}

@media only screen
  and (min-width: 600px) 
  and (max-width: 1200px) {
  body {
    background-color: #427089;
    margin-bottom: 12%;
  }
  .primary-title{
    font-size: 80px;
  }
  p {
    padding-top: 220px;
    padding-bottom: 3.5%;
  }

}

@media only screen
  and (min-width: 1200px) 
  and (max-width: 1800px) {
  body {
  }
  .primary-title{
    font-size: 100px;
  }
  p {
    padding-top: 200px;
    padding-bottom: 50px;
  }

}
