
body {
  font-family: 'Raleway', sans-serif;
  background-color: #5b8aa3;
  color: #5b5b45;
}

form {
  max-width: 300px;
  margin: 6% auto 2% auto;
  background: #d6a877;
  border-radius: 2px;
  box-shadow: 1px 1px 10px  #494434;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 7% 0 30px 0;
  text-align: center;
}

.email {
  margin-top: 1%;
}

input[type="text"],
input[type="password"] {
  text-align: center;
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 90%;
  background-color: #c69869;
  color: #5b5b45;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 20px;
}

input[type="submit"] {
  padding: 8px 30px 8px 30px;
  color: #f2f4ff;
  background-color: #2b596b;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border: 1px solid #494434;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 5px;
}

input[type="submit"]:hover {
  background-color: #5b8aa3;
}



label {
  display: block;
  margin-bottom: 10px;
}


@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}
