header a {
    display: inline-block;
    padding: 1% 5%;
    font-size: 15px;
}

header {
  background-color: rgba(165,86,28,0.4);
  width: 100%;
}

body{
  background-image: url('/static/img/project_page.jpg');
  background-size: 100%;
  background-color: #CA804B;
  font-family: 'Josefin Sans', sans-serif;
}

.ghost-button {
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 2%;
  display: inline-block;
  width: 240px;
  padding: 6px;
  color: #fff;
  border: 1px solid red;
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: rgb(191,101,32);
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}

.ghost-button:hover, .ghost-button:active {
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}


.new-project {
  color: #fcf5e8;
  font-size: 24px;
}

.new-project:hover {
  color: #fcf5e8;
  text-decoration: none;
}

h3{
  color: rgba(112,51,4,0.8);
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 3%;
  font-size: 40px;
}

.para-hints {
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
  color: rgb(112,51,4);
}

th{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  padding: 3%;
  text-align: center;
  background-color: rgb(191,101,32);
  font-size: 38px;
  color: #fcf5e8;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

table {
  width: 42%;
  margin-top: 3%;
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 5%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  
}
tr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

td {
  width: 60%;
}

.project-name {
  font-size: 20px;
  padding: 1%;
  width: 170px;
  margin: 6% 20px 4% 0;
  display: inline-block;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.1s ease-out,
              border-color 0.1s ease-out;
}

.project-name:hover {
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.2s ease-in,
              border-color 0.2s ease-in;
}

.discription {
  text-align: center;
  color: rgb(142, 81, 24)
}

.project_item{
  color: rgb(112, 51, 4)
}
.project_item:hover{
  color: white;
}



#list{
  color: rgb(112, 51, 4)
}
#list:hover{
  color: #c58830;
  text-decoration: none;
}


@media only screen
  and (max-width: 800px) {
    body{
      background-image: none;
    }
    .para-hints {
      width: 90%;
      margin: 0 auto;
      font-size: 16px;
    }
    table {
      width: 95%;
      
    }
    .project-name {
        width: 130px;
    }
}







