<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'>
  {% block head %} 
    <title>{% block title %}{% endblock %} | ArtUp </title>
  {% endblock %}
</head>

<body>
    <header>
      <nav>
        <a href ='/' class="head-nav"> ArtUp </a> 
        <a href ='/user-profile' class="head-nav"> My Projects </a>
        {% if "email" not in session %}
            <a href ='/register' class="head-nav">Register </a>
        {% endif %}
        <a href = '/logout' class="head-nav">Logout </a>
        <a href = '/login' class="head-nav">Login </a> 
      <nav>
    </header>

<!-- Show flashed messages -->
    {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
    {% endwith %}

	{% block content %}
		put content here
	{% endblock %}

</body>
</html>