<!doctype html>
<html>
<head>
	<title> HangUP </title>
	<script src="scripts/main.js"></script>
</head>
<body>

	<a href = '/'> HangUP </a> <br>
	<a href = '/logout'>Logout </a> <br>
	<a href = '/login'>Login </a> <br>
	
	{% if "email" not in session %}
		<a href = '/register'>Register </a>
	{% endif %}

<!-- Show flashed messages -->
    {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
    {% endwith %}

	{% block content %}
		put content here
	{% endblock %}

</body>
</html>