
{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" src= "/static/scriptCalc.js"> </script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<!-- <link rel="stylesheet" typle="text/css" href="/static/style.css"> -->




<h1> Beautiful Display of Art on Wall Mapping! </h1>



<table style="width:30%">
  <tr>
    <td id = 'name'>Current Art</td>
    <td id ='displayInfo'>X</td> 
    <td id ='displayInfoY'>Y</td>
  </tr>

</table>



<div class="wall"><div>


<style>
.displayInfo {
	background-color: lightblue;
}
</style>





	<script>
	var wall = ({{wall|tojson}})
	var art = ({{art|tojson}})
	var totArtWidth = 0;
	var blankWall;
	var consistantMargins;
	var midMargin;
	var endMargin;
	var p0;
	var p;
	var xAxis;


	function restoreArtFloats(art){
		for(var i=0; i<art.length; i++){
			art[i].art_width = art[i].art_width / 1000;
			art[i].art_height = art[i].art_height / 1000;
			art[i].device_distance = art[i].device_distance / 1000;
		}
	}
	restoreArtFloats(art)
	console.log(art)
	wall.wall_width = wall.wall_width / 1000;
	wall.wall_height = wall.wall_height / 1000;
	wall.center_line = wall.center_line / 1000;
	wall.offset_percent = wall.offset_percent / 1000;
	console.log(wall)


	// FIND TOTAL WIDTH OF ART
	function allArtsWidths(obj){ 
		for ( var w = 0; w < obj.length; w++ ){
		    totArtWidth += obj[w].art_width; }}; 

	

	// MIDDLE AND END MARGINS
	function Margins() {
		blankWall = wall.wall_width - totArtWidth; 
		consistantMargins = (blankWall / (art.length + 1));
		var offset = consistantMargins * wall.offset_percent;
		midMargin = consistantMargins - offset; 
		if (art.length === 2) {
			endMargin = consistantMargins + offset / 2;
		} else { 
			endMargin = consistantMargins + offset;
	}};


	//ADD THIS TO FUNCTION ABOVE??
	if (art.length === 1){
		endMargin = consistantMargins
	}


	// UPPER EDGE LONGITUDE OF ALL ARTS
	function upperX(obj) {
		for(var i = 0; i < obj.length; i ++){
		    var each = obj[i].art_height / 2 + wall.center_line;
		    obj[i].upperEdge = each
	}};



	//LEFT CORNER COORDINATES FOR MAPPING
	function leftCornerCords(obj){
		p0 = endMargin;
		p = midMargin;
		xAxis = [p0]
		for(i=1; i<obj.length; i++){
		    xAxis[i] = xAxis[i-1] + obj[i-1].art_width + p
		}
		for(var i = 0; i < xAxis.length; i++){
		    obj[i].leftCorner = {X : 0};
		    obj[i].leftCorner.X = xAxis[i];
	}};



	//"TAC POINT" FOR USER INFO
	function findTacPoint(obj){ 
		for(var i = 0; i < obj.length; i++){
		    obj[i].leftCorner.Y = obj[i].upperEdge;
		    
		    if (obj[i].device_code === 'none'){
		        obj[i].userDataCord = {X : obj[i].leftCorner.X, 
		                                Y : obj[i].leftCorner.Y};
		    } else {
		        obj[i].userDataCord = {X : (obj[i].leftCorner.X + 
		        					  	obj[i].art_width/2),
		                              Y : (obj[i].leftCorner.Y - 
		                              	obj[i].device_distance)};
	}}};


		
	function dynamicRectangles(){ 	
		var svgContainer = d3.select(".wall")
									.append("svg")
									
	                                .attr("width", wall.wall_width)
	                                .attr("height", wall.wall_height)
	                                .style("border", "1px dashed black")
	                                ;

	        var drag = d3.behavior.drag()
	            .on("drag", dragMove)
	         


	        var rect = svgContainer.selectAll(".draggableRectangle").data(art).enter()
	        		.append('rect')
	        		.attr('class', 'draggableRectangle')
	        		.attr('name', function(d) { return d.art_name; })
	                 .attr('x', function(d) { return d.leftCorner.X; })
	                 .attr('y', function(d) {return wall.wall_height - d.leftCorner.Y; })
	                 .attr('width', function(d) { return d.art_width; })
	                 .attr('height', function(d) { return d.art_height; })
	                 .style("fill", "red")
	                 .call(drag);

	        var images = rect.selectAll("")

	        function dragMove(d) {
		         d3.select(this)
		             .attr("x", function () {return d3.event.x})
		             .attr("y", function () {return d3.event.y});
		         var X = document.getElementById("displayInfo");
		             X.innerHTML = d3.event.x;
		         var Y = document.getElementById("displayInfoY");
		             Y.innerHTML = wall.wall_height -d3.event.y;
                 var name = document.getElementById("name");
         	    	 name.innerHTML = d.art_name;
		        // console.log(name, d3.event.x, d3.event.y)
	     
	         }
	}


	allArtsWidths(art);
	Margins();
	upperX(art);
	leftCornerCords(art)
	findTacPoint(art)
	dynamicRectangles()
	 

</script>





{% endblock %}
