{% extends 'base.html' %}

{% block content %}
	<h1> Beautiful Display of Art on Wall Mapping! </h1>

	<script type="text/javascript" src= "/static/scriptCalc.js"> </script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script>
		var wall = ({{wall|tojson}})
		console.log(wall)

		var art = ({{art|tojson}})
		console.log(art)


		console.log(wall.wall_id)
		
		var totArtWidth = 0;
		for ( var w = 0; w < art.length; w++ ){
		    totArtWidth += art[w].width; }
		console.log(totArtWidth);
		
		// total non-art footprint
		blankWall = wall.wall_width - totArtWidth; 
		console.log(blankWall)

		// // margins divided evenly 
		consistantMargins = (blankWall / (art.length + 1));
		console.log(consistantMargins)

		// middle and end margins
		offset = consistantMargins * .30; //percentage offset for margins
		midMargin = consistantMargins - offset; //in between art margins
		console.log('midMargin: ', midMargin)
		endMargin = consistantMargins + offset; //margins on both ends
		console.log('endMargin: ', endMargin)
		
		// UPPER EDGE LONGITUDE of all arts
		for(var i = 0; i < art.length; i ++){
			var each = art[i].height / 2 + wall.center_line;
			art[i].upperEdge = each
		}

		//TOP LEFT CORNER (alpha)
		art[0].alphaCorner = {lat : endMargin, lon : art[0].upperEdge};
		console.log('art: ', art);

		// top left corners (beta)
		for(var i = 0; i < art.length -1; i++){
			x = art[0].alphaCorner.lat + art[i].width + midMargin;
			console.log(x);
		}






	</script>
{% endblock %}




