{% extends 'base.html' %}
{% block content %}

<h1> Art Forms Page for Saved Wall </h1>


<h5> Add demensions from left to right </h5>
<p> If you need another artwork form, press my cool unexistant AJAX button </p>

<form action ='/new-art-process'>
	<label> Name of Piece   
	    <input type="text" name="new_art"> <br>
	</label>

<!-- 	<label> Hanging Device Type (wire returns one screw point, none returns 	corners, more options to come...)
	    <input type="radio" name="device_code" value='wire'> Wire <br>
	    <input type="radio" name="device_code" value='none'> None <br>
	</label>
	<label> If you answered "Wire", what is the distance from wire to top of piece?
	    <input type="text" name="device_distance"> <br>
	</label>  -->

	<label> Height 
	    <input type="text" name="art_height"> <br>
	</label>
	<label> Width 
	    <input type="text" name="art_width"> <br>
	</label> 

	<input type="submit" name="submit" value="next form">
	<input type="submit" name="submit" value="submit and display">
</form>


{% endblock %}