{% extends 'base.html' %}

{% block head %}
 <link rel="stylesheet" type="text/css" href="/static/wallform.css">
{% endblock %}
{% block content %}


<div class="container">
			<h3 class = "title"> Make New Wall for {{project_name}} </h3>
			<form action ="/project/{{ project_id }}/wall_process/artform">
				<fieldset>
					<p><label class="name"> Wall Name </label>
					<input class="name_input" type="text" name="new_wall" value="Wall Name">
					</p>			
					<p><label> *Margin Offset 
					    <select class="offset" name ="offset_percent">
					    	<option value="0.100"> 10% </option> 
					    	<option value="0.200"> 20% </option> 
					    	<option value="0.300"> 30% </option> 
					    	<option value="0.400"> 40% </option> 
					    	<option value="0.500"> 50% </option> 
					    	<option value="0.600"> 60% </option> 
					    	<option value="0.700"> 70% </option> 
					    	<option value="0.800"> 80% </option> 
					    	<option value="0.900"> 90% </option> 
					    </select></label>
					</p>			
					<p><label> Wall Width </label>
					    <input type="text" name="wall_width" value="200"> 
					    <select name ="wall_width_fraction">
					    	<option value="0.000"> 0 </option> 
					    	<option value="0.125"> 1/8 </option> 
					    	<option value="0.250"> 1/4 </option> 
					    	<option value="0.375"> 3/8 </option> 
					    	<option value="0.500"> 1/2 </option> 
					    	<option value="0.625"> 5/8 </option> 
					    	<option value="0.750"> 3/4 </option> 
					    	<option value="0.875"> 7/8 </option> 
					    </select>
					</p>
					<p><label> **Wall Height </label>
					    <input type="text" name="wall_height" value="100"> 
					    <select name ="wall_height_fraction">
					    	<option value="0.000"> 0 </option> 
					    	<option value="0.125"> 1/8 </option> 
					    	<option value="0.250"> 1/4 </option> 
					    	<option value="0.375"> 3/8 </option> 
					    	<option value="0.500"> 1/2 </option> 
					    	<option value="0.625"> 5/8 </option> 
					    	<option value="0.750"> 3/4 </option> 
					    	<option value="0.875"> 7/8 </option> 
					    </select>
						<label> *Center Line </label>
					    <input type="text" name="center_line" value="60">
					    <select name="center_line_fraction">
					    	<option value="0.000"> 0 </option> 
					    	<option value="0.125"> 1/8 </option> 
					    	<option value="0.250"> 1/4 </option> 
					    	<option value="0.375"> 3/8 </option> 
					    	<option value="0.500"> 1/2 </option> 
					    	<option value="0.625"> 5/8 </option> 
					    	<option value="0.750"> 3/4 </option> 
					    	<option value="0.875"> 7/8 </option> 
					    </select>
				        <label> Image? (copy image url into field) <br>
				    	    <input type="text" name="wall_img" value="http://www.clker.com/cliparts/H/M/h/Z/t/5/just-black-frame-md.png"> 
				    	</label>  <br>
						</p>	 
					<p><input type="submit" value="Submit">
					</p>
				</form>
			</fieldset>
			<p><a class="help" target="_blank" href ="help_page.html"><p> *See help </a></p>
			<p> ** Only for Visual Effect (Approximation is fine on <em>height</em>)</p>

</div>



{% endblock %}