{% extends 'base.html' %}
{% block content %}

<h1> New Wall Page for Saved Project: {{project_name}} </h1>

<form action ="/project/{{ project_id }}/wall_process/artform">
	<label> New Wall Name  
	    <input type="text" name="new_wall"> <br>
	</label>
	<label> Wall Width 
	    <input type="text" name="wall_width"> <br>
	</label>

	<label> Center Line (see tips for help)
	    <input type="text" name="center_line"> <br>
	</label>	 

	<input type="submit" value="Submit">
</form>




{% endblock %}