{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="/static/project_wall_lst.css">
<script src="https://code.jquery.com/jquery.js"></script>
{% endblock %}

{% block content %}


  <div class="new-wall">
      <a href= '/project/{{ project_id }}/new-wall' data-hover="Add New Wall?"> 
        <button class="ghost-button">
          Add New Wall?
        </button>
      </a>
      <h4 class="project-info"> In the {{project_name}} Project</h4>
  </div>




  <div class="help-info-title">
      <h3> Helpful Tips </h3>
      <p class="para-hints"> The "margin offset" is the difference between your end margins and margins 
          between each piece of art. If you want your pieces to be grouped closer together, 
          increase the percentage. Try 30% if you are not sure.
      </p>
  </div> 

<div class="table">
  <table>
    <thead>
      <tr>
        <th colspan="2">Your Current Walls</th>
      </tr>
    </thead>
    <tbody>
        {% for wall in wall_list|reverse %}
          <tr id="{{wall.wall_id}}">
            <td>
              <a class="project-name" id="list" href= '/saved_wall_process/{{wall.wall_id}}'>
                {{ wall.wall_name }} 
              </a> 
              <br>
              {{ wall.wall_disc }}
            </td>
            <td>
              <div class="project_item" type="button" id="remove-button" data-id="{{wall.wall_id}}">
                  Remove
              </div>
            </td>
        {% endfor %} 
        <tr>
    </tbody>
  </table>
</div>

<script>
  $('.project_item').on('click', function(evt){
      var wall_id = $($(this).context).data().id;
      var url = '/remove_wall/'+wall_id;
      $.post(url, function(data){
      $("#"+data.wall_id).remove();
      });
  });

</script>

{% endblock %}



