{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/profile_style.css">
{% endblock %}

{% block content %}

<div class="container">
  <div class="new-project">
    <a href= '/new-project' class="new-project" data-hover="Add New Project?"> 
        <button class="ghost-button"> 
     		   Add New Project? 
      </button>
    </a>  
  </div>

  <div class="help-info">
    <div class="help-info-title">
      <h3> Helpful Tips </h3>
    </div>
      <p class="para-hints"> A center line the center point at which all of your artwork will pass.
          If you have no funiture, a good centerline is 58in. If you have funiture, make
          sure to account for that in your centerline choice and add 5-10 inches. 
      </p>
  </div> 




  <table>
    <thead>
      <tr>
          <th colspan="2">Your Projects</th>
      </tr>
    </thead>
    <tbody>
        {% for project in project_list|reverse  %}
          <tr id="{{project.project_id}}" scope="col">
             <td>
                  <a class="project-name" href = '/project/{{ project.project_id }}' id = "list" data-hover="{{ project.project_name }}">
                      {{ project.project_name }}
                  </a>
                    <div class="discription">
                        {{ project.project_disc }}
                  </div>
              </td>
              <td>
                  <div class="project_item" id="remove-button" type="button"  data-id="{{project.project_id}}"> 
                       Remove
                  </div>
              <td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
  
</div>

<script>

  $('.project_item').on('click', function(evt){
      var project_id = $($(this).context).data().id;
      var url = '/remove_project/'+project_id;
      $.post(url, function(data){
        $("#"+data.project_id).remove();
      });
  });

</script>



{% endblock %}